/* Content copied from "checkout5-custom.css" at 2019-03-01T05:12:59.334Z */

/* /files/checkout5-custom.css */

/* Displays the option to enter a foreign document */
.document-box { display: block; }

/* Displays the option to enter an international phone */
.phone-box { display: block; }

/* ============================================================= Global styles ============================================================ */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700;900&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    font-weight: 400;
    font-family: WorkSans,-apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0 !important;
    color: #000;
    background: transparent;
}

button, input, textarea, select {
    font-family: inherit;
}

.container {
    width: 94%;
    margin: 0 auto;
}

.checkout-container {
    display: flex;
    flex-direction: column;
}

/* ============================================================= End Global styles / Start Header ============================================================ */

header {
    height: 6.5rem;
    background-color: #362d2e;
    color: #fff;
    margin-bottom: 4rem;
}

#logo {
    width: 11.75rem;
    margin-right: 2.5rem;
}

.header-icon {
    max-width: 1rem;
    margin-right: .25rem;
    vertical-align: text-top;
}

.header-secure-lock {
    margin-bottom: .15rem;
}

header .container {
    display: flex;
    align-items: center;
    height: 100%;
}

header .header-messages {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 1;
}

.header-nevoie-ajutor a {
    color: #fff;
}

header .header-secure,
header .header-nevoie-ajutor {
    white-space: nowrap;
    line-height: 2;
}

header .header-nevoie-ajutor {
    margin-right: 1rem;
    position: relative;
}

/* Hide elements */

.full-cart .extensions-checkout-buttons-container,
#shipping-preview-container,
.link-choose-more-products-wrapper,
.link-cart,
#orderform-title,
#cart-title {
    display: none !important;
}

/* Buttons */
.vtex-omnishipping-1-x-shippingDataDev.active .vtex-omnishipping-1-x-btnDelivery,
#cart-coupon-add,
.btn.btn-success {
    height: 3.125rem;
    border-radius: 0;
    background-color: #eb8102;
    background-image: unset;
    border: none;
    font-size: .875rem;
    line-height: 1.125rem;
    font-weight: bold;
    padding: 1rem 0;
    width: 100%;
    text-shadow: none;
    transition: .2s all;
    text-transform: uppercase;
    color: #362d2e;
}

.vtex-omnishipping-1-x-shippingDataDev.active .vtex-omnishipping-1-x-btnDelivery:hover,
#cart-coupon-add:hover,
.btn.btn-success:hover {
    background-color: #362d2e;
    color: #fff;
}

.overlay-content {
    position: absolute;
    z-index: 1;
    background-color: #fff;
    color: #000;
    left: 20%;
    top: 2.5rem;
    padding: 2rem;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
    line-height: 1.25rem;
    display: none;
}

.overlay-content::before {
    content: "";
    position: absolute;
    top: -.65rem;
    left: 7.875rem;
    border-left: .75rem solid #0000;
    border-right: .75rem solid #0000;
    border-bottom: .75rem solid #fff;
}

.overlay-content::after {
    content: "";
    position: absolute;
    top: -1.5rem;
    left: 0;
    width: 100%;
    height: 2.5rem;
}

.overlay-field {
    display: flex;
    align-items: center;
    color: #000;
}

.overlay-field:hover {
    color: #000;
}

.overlay-field:not(:last-of-type) {
    margin-bottom: .875rem;
}

.overlay-contact {
    display: block;
    font-size: 1.125rem;
    line-height: 1.25rem;
    font-weight: bold;
    color: #000;
}

.overlay-contact {
    display: block;
    font-size: 1.125rem;
    font-weight: bold;
}

.overlay-image-container {
    margin-right: .625rem;
}

.overlay-image {
    width: 1.5rem;
    min-width: 1.5rem;
}

.overlay-contact-label {
    font-size: .875rem;
    line-height: 1rem;
}

.header-nevoie-ajutor:hover .overlay-content {
    display: block;
}


/* ============================================================= End Header / Start Footer ============================================================ */


footer {
    height: 9rem;
    width: 100%;
    background-color: #362d2e;
    margin: auto;
    margin-bottom: 0;
}

footer .container {
    display: flex;
    align-items: center;
    height: 100%;
}

footer a {
    color: #000;
}

footer a:hover,
footer a:focus,
footer a:active {
    text-decoration: none;
    color: #eb8102;
}

.footer-left {
    display: flex;
    height: 100%;
    flex: 1;
    align-items: center;
    justify-content: space-between;
}

.footer-links {
    font-size: .875rem;
    font-weight: 500;
    margin-bottom: 0.625rem;
    color: #fff;
}

.footer-left-left span {
    font-size: 0.688rem;
    font-weight: 500;
    margin-top: 1rem;
    display: block;
    color: #fff;
}

.footer-payment-methods img {
    height: 1.375rem;
    margin-right: .5rem;
}

.footer-left-right {
    margin-left: auto;
}

.footer-left-right img {
    width: 4rem;
}

.footer-left-right a:hover {
    filter: drop-shadow(0 0 3px #eb8102);
}

.footer-left-right img:first-of-type {
    margin-right: 1rem;
}

.lookatme, .item-unavailable {
    background: unset;
    background-color: unset;
}

.item-unavailable .top-arrow {
    display: none;
}

.item-unavailable {
    font-weight: normal;
    padding-top: 0.375rem;
}

.footer-right {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: .875rem;
    padding-left: 2.25rem;
    color: #fff;
    width: 40%;
}

.footer-right span {
    text-transform: uppercase;
    margin-bottom: 0.625rem;
}

.footer-right > * {
    display: block;
}

.footer-right a:first-of-type {
    color: #fff;
}

/* ============================================================= End Footer / Start Cart Page ============================================================ */

.body-cart .full-cart {
    display: flex !important;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.cart-select-gift-placeholder {
    width: unset !important;
}

.full-cart .summary-template-holder {
    width: 30%;
    margin-left: 4rem;
    margin-top: 5.4rem;
}

.full-cart .summary-template-holder .summary {
    background-color: #f0f0f0;
    padding: 2rem;
    border-radius: 0;
}

.cart-totalizers {
    width: 100% !important;
}

.cart-template-holder {
    width: calc(70% - 4rem);
}

.cart-more-options,
.totalizers-list .Discounts {
    display: none !important;
}

.summary-totalizers {
    padding: 0;
    margin: 0;
}

.full-cart .summary-totalizers .table td {
    font-size: 1.125rem;
    line-height: 2.25rem;
    padding: 0;
}

.summary-totalizers .table tfoot {
    border-top: 1px solid #aaa;
}

.summary-totalizers .table tfoot tr:first-of-type td {
    padding: 1.375rem 0 0 0;
    font-weight: bold;
}

.summary-totalizers .table .srp-summary-result td {
    padding-bottom: 1.375rem;
    padding-top: 0;
}

.summary-totalizers .totalizers-list .info,
.summary-totalizers tfoot .info {
    text-align: left !important;
}

.summary-totalizers .monetary {
    text-align: right !important;
}

.summary-totalizers .empty {
    display: none;
}

.summary-totalizers tr {
    border-bottom: none !important;
}

tfoot tr.custom-discounts td {
    color: #eb8102 !important;
    font-size: 1rem !important;
    line-height: 1.25rem;
}

.full-cart .summary-totalizers .monetary {
    padding: 0;
}

.full-cart .cart-links {
    width: 100%;
    margin: 1.875rem 0 0 0;
}

.full-cart .full-cart .summary-template-holder .summary {
    display: flex;
}

.cart-template-holder .cart {
    margin-bottom: 4rem;
}

/* Coupon */


.summary > .summary-coupon-wrap {
    display: none;
}

.summary-totalizers .summary-coupon-wrap {
    position: relative;
    margin-bottom: 1rem;
}

.summary-totalizers .summary-coupon-wrap .summary-coupon {
    border: 1px solid #aaa;
    border-radius: 0;
    width: 100%;
    padding: 1.25rem 1rem;
}

.summary-coupon, .coupon-data {
    margin: 0 !important;
    text-align: left;
}

.link-coupon-add,
.link-coupon-add:focus,
.link-coupon-add:hover {
    color: #000;
    text-decoration: none;
}

.coupon-fieldset {
    display: flex;
    flex-direction: column;
}

.coupon-fieldset div {
    order: 2;
}

.coupon-fieldset div .coupon-label {
    display: none;
}

.coupon-fieldset .coupon-data {
    display: block !important;
}

.coupon-fieldset .coupon-data::before {
    content: url("https://pentruanimale.vtexassets.com/arquivos/tag.svg");
    margin: 0 .5rem;
    position: relative;
    bottom: -.125rem;
}

.summary-coupon-wrap .link-coupon-add::after {
    content: url("https://pentruanimale.vtexassets.com/arquivos/arrow-down.svg");
    position: absolute;
    top: 1.375rem;
    right: 7%;
    display: inline-block;
}

.totalizers .summary-coupon-wrap span.info > span {
    float: left;
    line-height: 30px;
}

.totalizers .summary-coupon-wrap span.info > span:first-child {
    font-weight: bold;
    font-size: 17px;
    margin-right: .25rem;
}

.totalizers .summary-coupon-wrap span.info > span:not(empty):first-child::before {
    content: url("https://pentruanimale.vtexassets.com/arquivos/check-square-solid.svg");
    margin-right: .5rem;
    position: relative;
    top: .3rem;
}

#cart-coupon-remove {
    font-size: 0;
}

#cart-coupon-remove::after {
    content: url("https://pentruanimale.vtexassets.com/arquivos/times-regular.svg");
    width: 15px;
    height: 15px;
    position: absolute;
    right: 1.3rem;
    top: 1rem;
}

.summary-coupon-wrap.expanded .link-coupon-add::after {
    transform: rotate(180deg);
}

.summary-coupon-wrap:not(.expanded):not(.has-code) .coupon-fieldset div {
    display: none !important;
}

.has-code .coupon-fieldset .coupon-data {
    display: none !important;
}

#cart-coupon {
    border: none;
    box-shadow: none;
    border-radius: 0;
    border-bottom: 1px solid #bbb;
    width: 55%;
    font-size: 1rem;
    height: 2rem;
    padding-left: 0;
    background-color: transparent;
}

.coupon-fields span:first-child:not(span.info > span) {
    float: left;
    margin-top: 1.5rem;
    width: 100%;
}

#cart-coupon-add {
    width: 40%;
    display: inline-flex !important;
    color: #fff;
    height: 2.5rem;
    justify-content: center;
    align-items: center;
}

/* End Coupon */

/* Cart Header */

.cart-header {
    margin-bottom: 2.5rem;
    display: none;
}

.cart-active .cart-header-left {
    display: block;
}

.cart-active .free-shipping-bar {
    display: flex;
}

.cart-items-count {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: .5rem;
}

.cart-items-count span {
    font-weight: 400;
}

.cart-shipping-estimate {
    color: #777;
}

.free-shipping-bar {
    background-color: #072727;
    padding: 1.25rem 1rem;
    border-radius: .625rem;
    color: #fff;
    display: none;
    align-items: center;
    font-size: .875rem;
}

.free-shipping-image-container {
    margin-right: 1rem;
}

.free-shipping-image {
    max-width: 5.125rem;
}

.free-shipping-text,
.free-shipping-value {
    font-weight: bold;
}

.free-shipping-value {
    text-decoration: underline;
    white-space: nowrap;
}

/* End Cart Header */

/* Deals */

.deals-container {
    width: calc(70% - 4rem);
    margin-bottom: 4rem;
    display: none;
}

.cart-active .deals-container,
.deal-item {
    display: flex;
}

.deal-item:not(:last-of-type) {
    margin-right: 2rem;
}

.deal-image-container {
    margin-right: 1.25rem;
}

.deal-image {
    width: 2rem;
}

h4.deal-title {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: .25rem;
    color: #000;
}

.deal-message {
    font-size: .875rem;
    color: #777;
}

/* End Deals */

/* Products */


.old-product-price-label,
.new-product-price-label,
.item-attachments-head .top-arrow,
a.discount,
.shipping-date,
.cart-items thead,
.cart-items .product-name .brand,
.cart-items .product-name .seller {
    display: none !important;
}

.cart-items tr {
    display: block;
    position: relative;
}

.cart-items tr.product-item { 
    display: flex;
    justify-content: space-between;
    height: 11rem;
    padding: 2rem 1rem;
}

.cart-items tr.item-attachments-content {
    padding: 1rem 2rem 2rem;
}

.cart-items .product-item:not(:last-of-type) {
    border-bottom: 1px solid #e8e8e8;
}

.cart-items td {
    padding: 0;
    margin: 0;
    display: inline-block;
}

.cart-items .product-image,
.cart-items .product-name,
.cart-items .quantity,
.cart-items .quantity-price {
    height: 100%;
}

.cart-items .product-image {
    width: unset;
    margin-right: 1rem;
}

.cart-items .product-image img {
    height: 7rem;
    width: 7rem;
    max-width: 7rem;
}

.cart-items .product-name {
    width: unset;
    flex: 1;
}

.cart-items .product-name > a:first-of-type {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box !important;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    color: #000;
}

.cart-items .custom-in-stock {
    font-size: .75rem;
    color: #777;
    display: inline-block;
    margin-top: 1.75rem;
    margin-bottom: .25rem;
}

.cart-items .discount-value-container {
    position: absolute;
    right: 1rem;
    top: 3.75rem;
    font-size: .875rem;
    color: #eb8102;
}

.cart-items .product-price {
    font-size: .875rem;
    font-weight: 900;
    position: absolute;
    left: 9rem;
    top: 3.375rem;
    display: inline-flex;
}

.old-product-price {
    font-weight: 400;
    color: #000;
    margin-right: .5rem;
}

.list-price:not(.hide) ~ .best-price {
    color: #eb8102;
    font-weight: 900;
}

.cart-items .quantity,
.cart-items .quantity-price {
    margin-left: 1rem;
    white-space: nowrap;
}

.cart-items .item-quantity-change {
    color: #000;
}

.cart-items .item-quantity-change-decrement i::before {
    content: url('https://pentruanimale.vtexassets.com/arquivos/minus-light.svg');
    width: 1rem;
}

.cart-items .item-quantity-change-increment i::before {
    content: url('https://pentruanimale.vtexassets.com/arquivos/plus-light.svg');
    width: 1rem;
}

.cart-items .quantity input {
    width: 3rem;
    border: none;
    box-shadow: none;
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0;
    padding-top: 0;
    padding-bottom: .5rem;
    height: 2rem;
    background: transparent;
    color: #000;
    display: inline-block !important;
}

.cart-items .item-quantity-change {
    position: static !important;
}

.cart-items .quantity-price {
    text-align: right;
    font-size: 1.125rem;
    font-weight: 900;
}

.cart-items .item-remove {
    position: absolute;
    bottom: 2rem;
    right: 1rem;
}

.cart-items .item-remove .item-link-remove {
    padding: 0;
}

.cart-items .item-remove .item-link-remove::before {
    content: "Sterge";
    font-size: .75rem;
    color: #777;
    position: absolute;
    left: -2.75rem;
    line-height: 1rem;
    top: 0.25rem;
}

.cart-items .item-remove .item-remove-ico::before {
    content: url('https://pentruanimale.vtexassets.com/arquivos/trash-alt.svg');
}

.cart-items tr td[colspan="7"] {
    width: 100%;
}

/* End Products */

/* Start Attachments */

.item-attachments-header strong {
    box-shadow: none;
    background: #f8f8f8;
    border: none;
}

.item-attachments-head,
.item-attachments-content {
    background-color: #f8f8f8;
}

.clone-item-sep,
.clone-item-container,
.clone-item.btn,
.item-attachments-header::after {
    display: none !important;
}

.item-attachment {
    display: flex;
    float: left;
    align-items: center;
}

.item-attachment:first-of-type {
    margin-right: 2rem;
}

.item-attachment-name-label {
    color: #777;
    font-size: .75rem;
    margin-right: .75rem;
}

.item-attachments-item-fields select.item-attachment-value {
    border: 1px solid #aaa;
    border-radius: .375rem;
    background-image: url('https://pentruanimale.vtexassets.com/arquivos/chevron-down-light.svg');
    background-repeat: no-repeat;
    background-position-x: 94%;
    background-position-y: 50%;
    background-size: .875rem;
    padding: 0 2rem 0 1rem !important;
}

.item-attachment-value {
    line-height: 1.875rem;
    font-size: .875rem;
    color: #333;
}

.item-attachments-item-fields .input-large {
    width: unset;
}

.add-item-attachment.btn {
    font-weight: 600;
    box-shadow: none;
    border: none;
    background-color: #dbebeb;
    border-radius: 1.125rem;
    min-height: 2.125rem;
    background-image: none;
    text-shadow: none;
    display: inline-flex !important;
    align-items: center;
    color: #000;
    padding: 0 2rem !important;
    font-size: .75rem;
    transition: .2s all;
}

.add-item-attachment.btn:hover {
    background-color: #eb8102;
    color: #fff;
}

.item-attachment-remove .item-link-remove {
    bottom: .5rem
}

/* End Attachments */

/* ============================================================= End Cart Page / Start Email Page ============================================================ */

.row-fluid .orderform-template {
    min-height: 32rem;
}

.client-pre-email {
    border-top: none;
}

.client-pre-email .emailInfo,
.pre-email {
    max-width: 54rem;
    margin: 0 auto;
    background-color: #f8f8f8;
    border-radius: 0;
    width: unset;
    border: none;
}

.pre-email {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.client-pre-email .pre-email h3 {
    margin-bottom: 2.375rem;
}

.client-pre-email .pre-email h3 span {
    display: block;
    font-size: 2rem;
    font-weight: 900;
    line-height: 2.5rem;
    margin-bottom: .5rem;
    color: #362d2e;
}

.client-pre-email .pre-email h3 small {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.375rem;
    color: #eb8102;
}

.client-pre-email .client-email {
    display: flex;
    max-width: 40rem;
    width: unset;
    float: unset;
    margin: auto;
    margin-bottom: 1.5rem;
}

.client-pre-email input {
    height: 3.125rem;
    border-radius: 0;
    border: 1px solid #aaa;
    font-size: 1rem;
    padding-left: 1.375rem;
    background-color: transparent;
}

#btn-client-pre-email {
    min-width: 8rem;
    margin-left: .675rem;
    position: static;
    width: 34%;
}

.client-pre-email span.error {
    position: absolute;
    left: 1rem;
    bottom: -1.5rem;
}

.client-pre-email .emailInfo {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding-bottom: 4rem;
}

.client-pre-email .emailInfo .icon-lock {
    bottom: 2.25rem;
    right: 1rem;
    color: rgba(0, 0, 0, 0.05);
}

.client-pre-email .emailInfo h3 {
    max-width: 40rem;
    margin: 4.5rem auto 1rem auto;
    font-size: 1rem;
    color: #362d2e;
    font-weight: bold;
}

.client-pre-email .emailInfo ul.unstyled span {
    font-size: .875rem;
    color: #777;
    line-height: 1.375rem;
}

.client-pre-email .emailInfo .icon-ok {
    color: #eb8102;
    margin-right: .5rem;
}


/* ============================================================= End Email Page / Start General steps ============================================================ */

.orderform-template-holder > .row-fluid {
    display: flex;
    flex-direction: column;
}

.orderform-template-holder > .row-fluid > * {
    width: 100%;
    margin: 0;
    padding: 0;
}

.row-fluid .orderform-template.active {
    max-width: 68rem;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.orderform-template-holder {
    max-width: 43rem;
}

.mini-cart {
    margin-left: 2rem;
    flex: 1;
}

.cart-fixed {
    width: 23.125rem;
    max-width: 100%;
    height: unset !important;
    min-height: unset;
    top: unset !important;
}

.cart-fixed.affix {
    top: 1.5rem !important;
}

.accordion-heading .accordion-toggle,
.accordion-inner {
    padding: 0;
}

.step, .cart, .totalizers {
    border: none;
    padding: 0;
    margin: 0;
}

.cart-fixed,
.payment-data .step,
#shipping-data.step,
.step {
    background-color: #f8f8f8;
    border-radius: 0;
    padding: 2rem;
}

.step.active {
    padding-bottom: 3rem;
}

p.btn-submit-wrapper {
    text-align: center;
}

.step.active p.btn-submit-wrapper {
    margin-bottom: 0;
    margin-top: 3rem;
}

#client-profile-data,
#shipping-data {
    margin-bottom: 1.5rem;
}

.accordion-toggle-active,
.accordion-toggle {
    font-size: 1.125rem;
    color: #000;
    font-weight: 700;
}

.document-box,
.phone-box,
.client-notice,
.accordion-toggle i:not(.icon-edit) {
    display: none;
}

.accordion-toggle {
    position: relative;
    margin-left: 3.25rem;
    margin-bottom: 2rem;
}

.accordion-toggle::before {
    content: "1";
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    color: #072727;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #979797;
    position: absolute;
    left: -3.25rem;
    top: 50%;
    transform: translateY(-50%);
}

.step.active .accordion-toggle::before {
    color: #fff;
    background-color: #eb8102;
    border-color: #eb8102;
}

#shipping-data .accordion-toggle::before {
    content: "2";
}

#payment-data .accordion-toggle::before {
    content: "3";
}

p.input.text select,
p.input.text input:not([type="checkbox"]) {
    height: 2.75rem;
    border: 1px solid #ccc;
    padding: .875rem 1rem;
    border-radius: .25rem;
    box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, 0.1);  
    background-color: #ffffff;
    font-size: .875rem;
    color: #072727;
    width: 100%;
}

.step .text label {
    font-size: .875rem;
    color: #777;
}

/* ============================================================= End General steps / Start Profile step ============================================================ */

p.client-phone {
    width: 100%;
}

#client-phone,
.client-first-name,
.client-last-name {
    width: calc(50% - .625rem);
}

p.client-first-name {
    margin-right: 1.25rem;
}

.step .btn.btn-success {
    max-width: 16rem;
    margin-left: auto;
    margin-right: auto;
}

.box-client-info-pj {
    display: flex;
    flex-wrap: wrap;
}

.corporate-title {
    display: inline-block;
    order: 1;
}

.corporate-info-box {
    width: 100%;
    order: 2;
}

.client-profile-data h5.visible {
    display: none;
}

.box-client-info-pj .corporate-hide-link a {
    font-size: .875rem;
    color: #777;
    text-decoration: none;
}

.corporate-title.visible + ul.links {
    margin-bottom: 1.5rem;
}

#not-corporate-client,
#is-corporate-client {
    position: relative;
}

#is-corporate-client::before,
#not-corporate-client::before {
    content: "";
    display: inline-block;
    background-color: #f0f0f0;
    width: 2.375rem;
    height: 1.375rem;
    border-radius: .625rem;
    position: relative;
    bottom: -.4rem;
    margin-right: .75rem;
}

#is-corporate-client::after,
#not-corporate-client::after {
    content: "";
    background-color: #aaa;
    width: 1.125rem;
    height: 1.125rem;
    border-radius: 50%;
    position: absolute;
    bottom: -1px;
    left: .3rem;
    transition: all .3s linear;
}

#not-corporate-client::after {
    left: 1rem;
}

/* ============================================================= End Profile step / Start Shipping step ============================================================ */

p.ship-state, p.ship-city {
    width: calc(50% - .625rem);
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("https://pentruanimale.vtexassets.com/arquivos/chevron-down-light.svg");
    background-repeat: no-repeat;
    background-position-x: 94%;
    background-position-y: 50%;
    background-size: .875rem;
    padding: 0 1rem !important;
}

.vtex-omnishipping-1-x-addressFormPart1 p.ship-city {
    margin-right: 0;
}

p.ship-state {
    margin-right: 1.25rem;
}

.ship-neighborhood {
    display: none;
}

.ship-street {
    width: calc(70% - .625rem);
    margin-right: 1.25rem;
    float: left;
}

.ship-number {
    width: calc(30% - .625rem);
    margin-right: 0 !important;
}

.ship-number:first-child {
    width: 100%;
}

.vtex-omnishipping-1-x-deliveryChannelsWrapper .vtex-omnishipping-1-x-deliveryChannelsComplement {
    display: inline-block;
    font-size: .875rem;
    margin-left: .2rem;
}

.shp-method-option-text {
    font-size: .875rem;
}

.vtex-omnishipping-1-x-shippingDataDev .vtex-omnishipping-1-x-deliveryChannelsWrapper {
    box-shadow: none;
    background-color: #f0f0f0;
}

.vtex-omnishipping-1-x-deliveryChannelsWrapper .vtex-omnishipping-1-x-deliveryChannelsOption {
    min-height: 2.75rem;
}

.vtex-omnishipping-1-x-deliveryChannelsWrapper .vtex-omnishipping-1-x-deliveryChannelsToggle {
    background-color: #000;
    border-color: #000;
}

.vtex-omnishipping-1-x-address .ship-checkboxNumberLabel {
    flex-direction: column;
    margin-top: 0;
    width: 25%;
    align-items: center;
}

.vtex-omnishipping-1-x-address .ship-checkboxNumberLabel input {
    margin-bottom: .75rem;
    width: unset;
}


/* ============================================================= End Shipping step / Start Payment step ============================================================ */

.payment-group {
    width: 100%;
    background: transparent;
    margin: 0;
}

.payment-group-list-btn {
    width: 100%;
}

.payment-container {
    margin-left: 3.25rem;
}

.payment-data .payment-group-item {
    background-color: transparent;
    border: none;
    position: relative;
    margin-left: 3.25rem !important;
    padding: 0;
    width: auto;
}

.payment-group-item-text {
    color: #000;
    font-size: 1rem;
}

#payment-group-creditCardPaymentGroup .payment-group-item-text, 
#payment-group-PayPalPlusPaymentGroup .payment-group-item-text {
    background-image: none;
}

.payment-group-item:focus {
    text-decoration: none;
    outline: none;
}

.payment-data .payment-group a::before {
    position: absolute;
    width: 1.625rem;
    height: 1.625rem;
    border: 1px solid #979797;
    border-radius: 50%;
    content: "";
    left: -3.25rem;
    top: 50%;
    transform: translateY(-50%);
}

.payment-data .payment-group a.active::before {
    box-shadow: inset 0 0 0 4px #fff;
    background-color: #eb8102;
    border-color: #eb8102;
}

.box-payment-option h3 {
    display: none;
}

.steps-view {
    width: 100%;
    float: unset;
    background-color: transparent;
    min-height: unset;
}

.CardForm {
    width: 20rem;
}

.CardForm input.input-medium,
.CardForm select.input-xlarge {
    font-size: 1rem;
    height: 2.75rem;
    width: 100%;
}

select.input-mini {
    min-width: 7.25rem;
}

.PaymentCardCVV {
    position: relative;
}

.PaymentCardCVV input {
    max-width: 7.25rem;
}

.AddressToggle input {
    padding: 7px !important;
    top: -.2rem;
}

.AddressToggle input::before {
    width: 75%;
}

.input-prepend .add-on {
    display: none;
}

/* ============================================================= End Payment step / Start Minicart ============================================================ */

.mini-cart,
.mini-cart .info {
    color: #000;
}

.mini-cart .table td {
    font-size: 1rem;
    line-height: 1.875rem;
}

.mini-cart .payment-submit-wrap {
    margin-bottom: 0;
    margin-top: .75rem;
}

.payment-confirmation-wrap {
    background-color: transparent;
}

#terms-conditions label,
.newsletter-text {
    color: #777777;
    font-size: .75rem;
    display: inline-block;
}

.newsletter-text {
    margin-left: .5rem;
}

#terms-conditions a {
    text-decoration: underline;
    color: inherit;
}

#terms {
    margin-top: 0;
    margin-right: .25rem;
}

.mini-cart h2 {
    font-weight: 700;
    font-size: 1.125rem;
    color: #000;
    text-align: left;
    padding: 0;
}

.mini-cart .summary-template-holder {
    border: none;
}

.mini-cart .info, .mini-cart .monetary {
    padding: 0;
}

.mini-cart .info {
    float: unset;
}

.mini-cart tr.Shipping {
    display: table-row;
}

.mini-cart tr.Shipping td {
    padding-bottom: .625rem;
}

.mini-cart .summary-totalizers .table tfoot tr:first-of-type td {
    padding-top: .625rem;
    font-size: 1rem;
    font-weight: 900;
}

.mini-cart .table tfoot td {
    color: #000;
    padding: 0;
    font-weight: 400;
}

.mini-cart tfoot tr:first-of-type td {
    color: #000;
    font-size: 1.125rem;
}

.summary-note,
.summary-note > div {
    display: block !important;
}

.mini-cart .badge,
p.note-data,
p.note-label {
    display: none !important;
}

#cart-note {
    width: 100%;
    border: 1px solid #ccc;
    padding: .875rem 1rem;
    background-color: transparent;
    resize: none;
    height: 4.25rem;
    border-radius: .25rem;
    box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, 0.1);
    margin-top: .5rem;
}

.badge {
    color: #000;
    background-color: #fff;
}

.mini-cart .muted {
    color: #000;
}

.mini-cart .badge.flex {
    display: flex;
}

.mini-cart .item {
    font-size: .875rem;
    border-top: 1px solid #e8e8e8;
    margin-top: .625rem;
    padding-top: .625rem;
}
.mini-cart .item:last-of-type {
    margin-bottom: .625rem;
}

.mini-cart .url {
    margin-right: .875rem;
}

.mini-cart .description strong {
    font-size: .875rem;
}

input[type="checkbox"] {
    appearance: none;
    border: 1px solid #ccc;
    padding: 9px;
    border-radius: .25rem;
    position: relative;
}

input[type="checkbox"]:focus {
    outline: none;
}

input[type="checkbox"]:checked {
    position: relative;
    border-color: transparent;
}
input[type="checkbox"]:checked::before {
	content: url("https://pentruanimale.vtexassets.com/arquivos/checkbox.svg");
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.mini-cart .summary-coupon, .mini-cart .summary .coupon-column {
    display: block;
}

/* Mini-cart Summary */

.summary-images-wrapper {
    margin-top: .625rem;
    cursor: pointer;
}

.summary-images-header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0;
    height: 0;
}

.summary-images-toggler {
    position: relative;
    top: -2rem;
    color: #777;
    font-size: .75rem;
}

.summary-images-toggler::after {
    content: "";
    background: url("https://pentruanimale.vtexassets.com/arquivos/chevron-down-light.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: .875rem;
    height: 1rem;
    display: inline-block;
    position: relative;
    top: .25rem;
    margin-left: .5rem;
}

.summary-images-container {
    display: flex;
    flex-wrap: wrap;
}

.summary-images-header {
    font-weight: 300;
    margin-bottom: .5rem;
}

.summary-image-container {
    position: relative;
    display: inline-block;
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.summary-image {
    width: 2.8rem;
}

.summary-cart-template-holder,
.seller-total-price-tr.last-seller ~ .empty-tr,
.seller-total-price-tr.last-seller ~ .seller-total-price-tr,
.empty-tr + .seller-total-price-tr {
    display: none !important;
}

.mini-cart.expanded .summary-cart-template-holder {
    display: block !important;
    height: auto !important;
}

.mini-cart.expanded .summary-images-container {
    display: none;
}

.mini-cart.expanded .summary-images-toggler::after {
    transform: rotate(180deg) translateY(50%);
    top: .75rem;
}

/* End Minicart Summary */

/* ============================================================= End Minicart / Start Media queries ============================================================ */


@media screen and (min-width: 720px) {
        
    .client-pre-email .emailInfo .icon-lock {
        position: relative;
        float: right;
        right: calc((100% - 40rem)/2);
        top: -4rem;
    }
        
    .client-pre-email .emailInfo ul.unstyled {
        margin-left: calc((100% - 40rem)/2);
    }
    
    .client-pre-email .emailInfo {
        padding-bottom: 1rem;
    }

}


@media screen and (min-width: 90rem) {
    .container {
        width: 90rem;
        padding-left: 4rem;
        padding-right: 4rem;
    }
    
    .cart-items .summary-template-holder {
        min-width: 22.5rem;
    }
    
    .cart-items .cart-template-holder {
        min-width: 55.5rem;
    }
    
    .cart-items tr.product-item { 
        padding: 2rem;
    }
    
    .cart-items .product-image {
        margin-right: 2rem;
    }

    .cart-items .item-remove,
    .cart-items .discount-value-container {
        right: 2rem;
    }

    .cart-items .product-price {
        left: 11rem;
    }

}



@media screen and (max-width: 80rem) {
    .full-cart .summary-template-holder {
        margin-left: 2rem;
        width: calc(30% + 2rem);
    }
}


@media screen and (max-width: 1024px) {

    /* Generale */

    .footer-left {
        padding-right: unset;
    }

    .footer-payment-methods img {
        margin-bottom: .5rem;
    }

    .footer-left-right img:first-of-type {
        margin-bottom: .25rem;
    }

    /* Cart Page */

    .body-cart .full-cart {
        flex-wrap: wrap;
    }
    
    .full-cart {
        flex-direction: column;
    }

    .deals-container,
    .full-cart .summary-template-holder,
    .cart-template-holder {
        width: 100%;
    }
    
    .full-cart .summary-template-holder {
        margin-bottom: 2rem;
        margin-left: 0;
    }
    
    .full-cart .summary-template-holder .summary {
        flex-wrap: wrap;
    }
    /* End Cart Page */



    /* Steps Page */

    .row-fluid .orderform-template.active {
        flex-direction: column;
    }

    .orderform-template-holder {
        max-width: unset;
    }

    #payment-data {
        margin-bottom: 1.5rem;
    }

    .row-fluid .orderform-template-holder,
    .row-fluid .mini-cart,
    .cart-fixed {
        width: 100%;
        margin-left: 0;
    }

    .box-client-info-pf {
        float: unset;
        margin: 0;
    }

    .input-large, .input-xlarge, .input-xxlarge {
        max-width: unset;
    }

    .payment-confirmation-wrap {
        border-top: none;
    }

    .mini-cart tr.Items td {
        padding-top: .625rem;
    }

    .payment-data .payment-group a {
        border: none;
    }

    p.newsletter {
        margin-top: .75rem;
        margin-bottom: 1rem;
    }

    p.newsletter input {
        bottom: .25rem;
    }

    /* End Steps Page */
}



@media screen and (max-width: 640px) {

    /* Generale */

    .header-nevoie-ajutor,
    .cart-items .discount-value-container {
        display: none;
    }

    footer {
        height: unset;
    }

    footer .container {
        flex-direction: column;
        width: 100%;
    }
    
    .footer-left,
    .footer-right {
        width: 100%;
        padding: 1rem;
    }
    
    .footer-left {
        order: 2;
        flex-direction: column;
    }

    .footer-left-left {
        order: 2;
    }

    .footer-left-right {
        margin-left: unset;
        margin-bottom: 1rem;
    }

    .footer-right {
        text-align: center;
    }

    /* Cart Page */

    .deals-container {
        flex-direction: column;
    }
    
    .deal-item:not(:last-of-type) {
        margin-bottom: 1rem;
    }

    .summary-totalizers .summary-coupon-wrap .summary-coupon {
        padding: .75rem .5rem;
    }
    
    .summary-coupon-wrap .link-coupon-add::after {
        top: .75rem;
    }

    .full-cart .summary-template-holder .summary {
        padding: 2rem 1rem;
    }

    .free-shipping-bar {
        padding-right: 1rem;
    }
        
    .cart-items .product-image img {
        width: 4rem;
        height: 4rem;
        margin-top: 1.5rem;
    }

    .cart-items .product-price {
        left: 6rem;
    }

    .cart-items .quantity {
        position: absolute;
        top: 4.5rem;
        right: 1rem;
    }

    .item-attachment {
        float: unset;
    }

    /* End Cart Page*/

    /* Email Page*/

    .client-pre-email .client-email {
        max-width: 94%;
        flex-direction: column;
    }

    #btn-client-pre-email {
        margin-left: unset;
        order: 3;
        width: 100%;
    }

    .client-pre-email span.error {
        position: static;
    }

    /* Steps page */
    .cart-fixed, .payment-data .step, #shipping-data.step, .step {
        padding: 1rem;
    }

    .step.active {
        padding-bottom: 2rem;
    }
}

@media screen and (max-width: 490px) {

    /* Cart Items */

    
    .cart-items .product-image img {
        width: 3rem;
        height: 3rem;
        margin-top: 2rem;
    }

    .cart-items .product-name > a:first-of-type {
        -webkit-line-clamp: 2;
        margin-bottom: .5rem;
    }

    .cart-items .custom-in-stock {
        display: none;
    }

    .cart-items .product-price {
        right: 0rem;
        left: unset;
        margin-right: 0;
    }
    .cart-items .product-image, 
    .cart-items .product-name, 
    .cart-items .quantity {
        height: unset;
    }

    .full-cart .cart table tbody tr + tr {
        border: none;
    }

    .cart-items .quantity {
        top: 6rem;
        right: 0;
        width: unset !important;
    }

    .full-cart .cart table tbody tr td.item-remove {
        top: unset;
        bottom: 0;
    }

    select.product-item-attachment-offerings-select {
        max-width: 9.5rem;
    }

    .add-item-attachment.btn {
        padding: 0 1rem !important;
    }

    /* End Cart Items */

    #client-phone, .client-first-name, .client-last-name, .client-phone,
    .orderform-template-holder .client-profile-data input[type="text"] {
        width: 100% !important;
    }

    .full-cart .cart-links-bottom .btn-success {
        display: inline-block;
        width: 100%;
    }

    .PaymentCardDueDate .FormFieldLabel {
        display: block;
        width: 100%;
    }

    .PaymentCardDueDate p.payment-card-due-month,
    .PaymentCardDueDate p.payment-card-due-year {
        width: auto;
        min-width: 45%;
    }

    .CardForm {
        width: 100%;
    }

    .SecurityEnvironmentIcon {
        display: none;
    }

}

@media screen and (max-width: 375px) {

    /* Generale */

    #logo {
        margin-right: 1rem;
    }

    .coupon-fieldset .coupon-data::before {
        margin: 0 .2rem;
    }

    .summary-coupon-wrap .link-coupon-add::after {
        right: 4%
    }

    header .header-secure {
        white-space: normal;
    }
}