/* Content copied from "checkout5-custom.css" at 2019-03-01T05:12:59.334Z */

/* /files/checkout5-custom.css */

/* Displays the option to enter a foreign document */
.document-box { display: block; }

/* Displays the option to enter an international phone */
.phone-box { display: block; }

/* ============================================================= Global styles ============================================================ */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700;900&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    font-weight: 400;
    font-family: 'WorkSans',-apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0 !important;
    color: #000;
}

button, input, textarea, select {
    font-family: inherit;
}

.container {
    width: 94%;
    margin: 0 auto;
}

/* ============================================================= End Global styles / Start Header ============================================================ */

header {
    height: 6.5rem;
    background-color: #000;
    color: #fff;
    margin-bottom: 4rem;
}

#logo {
    width: 8.75rem;
    margin-right: 2.5rem;
}

.header-icon {
    max-width: 1rem;
    margin-right: .25rem;
}

.header-secure-lock {
    margin-bottom: .15rem;
}

header .container {
    display: flex;
    align-items: center;
    height: 100%;
}

header .header-messages {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 1;
}

header .header-secure,
header .header-nevoie-ajutor {
    white-space: nowrap;
    line-height: 2;
}

header .header-nevoie-ajutor {
    margin-right: 1rem;
}

/* Hide elements */

.full-cart .extensions-checkout-buttons-container,
#shipping-preview-container,
.link-choose-more-products-wrapper,
.link-cart,
#orderform-title,
#cart-title {
    display: none !important;
}

/* Buttons */
#cart-coupon-add,
.btn.btn-success {
    height: 3.125rem;
    border-radius: 1.5rem;
    background-color: #f95a02;
    background-image: unset;
    border: none;
    font-size: .875rem;
    font-weight: 500;
    padding: 0;
    display: flex !important;
    justify-content: center;
    align-items: center;
    text-shadow: none;
}

/* ============================================================= End Header / Start Footer ============================================================ */


footer {
    height: 9rem;
    width: 100%;
    background-color: #f0f0f0;
    background-image: linear-gradient(to right, #f0f0f0 50%, #f8f8f8 50%);
    margin: auto;
    margin-bottom: 0;
}

footer .container {
    display: flex;
    align-items: center;
    height: 100%;
}

footer a {
    color: #000;
}

footer a:hover,
footer a:focus,
footer a:active {
    text-decoration: none;
    color: #f95a02;
}

.footer-left {
    display: flex;
    height: 100%;
    background-color: #f0f0f0;
    flex: 1;
    align-items: center;
    padding-right: 7%;
}

.footer-links {
    font-size: .75rem;
    font-weight: 500;
    margin-bottom: 1.75rem;
}

.footer-payment-methods img {
    height: 1.375rem;
    margin-right: .5rem;
}

.footer-left-right {
    margin-left: auto;
}

.footer-left-right img {
    width: 4rem;
}

.footer-left-right a:hover {
    filter: drop-shadow(0 0 3px #f95a02);
}

.footer-left-right img:first-of-type {
    margin-right: 1rem;
}

.footer-right {
    background-color: #f8f8f8;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    font-size: .875rem;
    padding-left: 2.25rem;
}

.footer-right > * {
    display: block;
}

.footer-right a:first-of-type {
    font-size: 1.5rem;
    font-weight: 900;
    margin-top: 1rem;
    margin-bottom: .25rem;
}

/* ============================================================= End Footer / Start Cart Page ============================================================ */

.body-cart .full-cart {
    display: flex !important;
    width: 100%;
    flex-wrap: nowrap;
}

.cart-select-gift-placeholder {
    width: unset;
}

.full-cart .summary-template-holder {
    width: 30%;
    margin-left: 4rem;
}

.full-cart .summary-template-holder .summary {
    background-color: #f0f0f0;
    padding: 2rem;
    border-radius: .625rem;
}

.cart-totalizers {
    width: 100% !important;
}

.cart-template-holder {
    width: calc(70% - 4rem);

}

.cart-more-options {
    display: none !important;
}

.full-cart .summary-totalizers {
    padding: 0;
    margin: 0;
}

.full-cart .summary-totalizers .table td {
    font-size: 1.125rem;
    line-height: 2.25rem;
    padding: 0;
}

.full-cart .summary-totalizers .table tfoot {
    border-top: 1px solid #aaa;
}

.full-cart .summary-totalizers .table tfoot tr:first-of-type td {
    padding-top: 1.375rem;
    font-weight: bold;
}

.full-cart .summary-totalizers .table .srp-summary-result td {
    padding-bottom: 1.375rem;
}

.full-cart .summary-totalizers .info {
    text-align: left;
}

.full-cart .summary-totalizers .monetary {
    text-align: right;
}

.full-cart .summary-totalizers .empty {
    display: none;
}

.full-cart .summary-totalizers tr {
    border-bottom: none;
}

.full-cart .cart-links {
    width: 100%;
    margin: 1.875rem 0 0 0;
}

.full-cart .full-cart .summary-template-holder .summary {
    display: flex;
}

.cart-template-holder .cart {
    margin-bottom: 4rem;
}

/* Coupon */


.full-cart .summary > .summary-coupon-wrap {
    display: none;
}

.full-cart .summary-totalizers .summary-coupon-wrap {
    display: block !important;
    position: relative;
    left: 0;
    width: 100%;
    padding: 0;
}

.full-cart .summary-totalizers .summary-coupon-wrap .summary-coupon {
    border: 1px solid #e8e8e8;
    border-radius: .625rem;
    width: 100%;
    padding: 1.5rem 1rem;
}

.full-cart .summary-coupon, .full-cart .coupon-data {
    margin: 0 !important;
    text-align: left;
}

.full-cart .link-coupon-add {
    color: #000;
    text-decoration: none;
}

.full-cart .coupon-fieldset {
    display: flex;
    flex-direction: column;
}

.full-cart .coupon-fieldset div {
    order: 2;
}

.full-cart .coupon-fieldset div .coupon-label {
    display: none;
}

.full-cart .coupon-fieldset .coupon-data {
    display: block !important;
}

.full-cart .coupon-fieldset .coupon-data::before {
    content: url("https://pentruanimale.vtexassets.com/arquivos/tag.svg");
    margin: 0 .5rem 0 1rem;
    position: relative;
    bottom: -.125rem;
}

.full-cart .summary-coupon-wrap .link-coupon-add::after {
    content: url("https://pentruanimale.vtexassets.com/arquivos/arrow-down.svg");
    position: absolute;
    top: 1.625rem;
    right: 10%;
    display: inline-block;
}

.totalizers .summary-coupon-wrap span.info > span {
    float: left;
    line-height: 30px;
}

.totalizers .summary-coupon-wrap span.info > span:first-child {
    font-weight: bold;
    font-size: 17px;
    margin-right: .25rem;
}

.totalizers .summary-coupon-wrap span.info > span:not(empty):first-child::before {
    content: url("https://pentruanimale.vtexassets.com/arquivos/check-square-solid.svg");
    margin-right: .5rem;
    position: relative;
    top: .3rem;
}

#cart-coupon-remove {
    font-size: 0;
}

#cart-coupon-remove::after {
    content: url("https://pentruanimale.vtexassets.com/arquivos/times-regular.svg");
    width: 15px;
    height: 15px;
    position: absolute;
    right: 1.3rem;
    top: 1rem;
}

.full-cart .summary-coupon-wrap.expanded .link-coupon-add::after {
    transform: rotate(180deg);
}

.summary-coupon-wrap:not(.expanded):not(.has-code) .coupon-fieldset div {
    display: none !important;
}

.full-cart .has-code .coupon-fieldset .coupon-data {
    display: none !important;
}

#cart-coupon {
    border: none;
    box-shadow: none;
    border-radius: 0;
    border-bottom: 1px solid #bbb;
    width: 55%;
    font-size: 1rem;
    height: 2rem;
    padding-left: 0;
}

.coupon-fields span:first-child:not(span.info > span) {
    float: left;
    margin-top: 1.5rem;
    width: 100%;
}

#cart-coupon-add {
    width: 40%;
    display: inline-flex !important;
    color: #fff;
    height: 2.5rem;
}

/* End Coupon */

/* Cart Header */

.cart-header {
    margin-bottom: .625rem;
    min-height: 6.25rem;
    display: none;
}

.cart-active .cart-header-left {
    display: block;
}

.cart-active .free-shipping-bar {
    display: flex;
}

.cart-items-count {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: .5rem;
}

.cart-items-count span {
    font-weight: 400;
}

.cart-shipping-estimate {
    color: #777;
}

.free-shipping-bar {
    background-color: #072727;
    padding: 1.25rem 1rem;
    padding-right: 5rem;
    border-radius: .625rem;
    color: #fff;
    display: none;
    align-items: center;
    font-size: .875rem;
}

.free-shipping-image-container {
    margin-right: 1rem;
}

.free-shipping-image {
    max-width: 5.125rem;
}

.free-shipping-text,
.free-shipping-value {
    font-weight: bold;
}

.free-shipping-value {
    text-decoration: underline;
    white-space: nowrap;
}

/* End Cart Header */

/* Deals */

.deals-container {
    width: calc(70% - 4rem);
    margin-bottom: 4rem;
    display: none;
}

.cart-active .deals-container,
.deal-item {
    display: flex;
}

.deal-item:not(:last-of-type) {
    margin-right: 2rem;
}

.deal-image-container {
    margin-right: 1.25rem;
}

.deal-image {
    width: 2rem;
}

h4.deal-title {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: .25rem;
    color: #000;
}

.deal-message {
    font-size: .875rem;
    color: #777;
}

/* End Deals */

/* Products */

.full-cart .cart {
    border: none;
    padding: 0;
}

.full-cart thead,
.full-cart .product-name .brand,
.full-cart .product-name .seller {
    display: none !important;
}

.full-cart .table td {
    padding: 0;
}

.full-cart .product-item {
    position: relative;
    transform: scale(1,1);
}

.full-cart .product-item:not(:last-of-type) {
    border-bottom: 1px solid #e8e8e8;
}

.full-cart .product-image {
    padding: 2rem !important;
}

.full-cart .product-image img {
    height: 7rem;
    width: 7rem;
    max-width: 7rem;
}

.full-cart .quantity-price,
.full-cart .product-name {
    vertical-align: top;
    padding-top: 2rem !important;
}

.full-cart .product-name {
    width: unset;
}

.full-cart .product-name a:first-of-type {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box !important;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    color: #000;
}

.full-cart .product-price {
    position: absolute;
    left: 11rem;
    top: 3.75rem;
    font-size: .875rem;
    font-weight: 900;
}

.full-cart .shipping-date {
    position: absolute;
    left: 11rem;
    top: 5.375rem;
    font-size: .75rem;
    color: #777;
}

.full-cart .quantity {
    padding-top: 1.875rem !important;
    vertical-align: top;
    width: 10rem;
}

.full-cart .item-quantity-change {
    color: #000;
}

.full-cart .item-quantity-change-decrement i::before {
    content: url('https://pentruanimale.vtexassets.com/arquivos/minus-light.svg');
    width: 1rem;
}

.full-cart .item-quantity-change-increment i::before {
    content: url('https://pentruanimale.vtexassets.com/arquivos/plus-light.svg');
    width: 1rem;
}

.full-cart .quantity input {
    width: 3rem;
    border: none;
    box-shadow: none;
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0;
    padding-top: 0;
    padding-bottom: .5rem;
    height: 2rem;
    background: transparent;
    color: #000;
}

.full-cart .quantity-price {
    padding-right: 2rem !important;
    padding-left: 1rem !important;
    text-align: right;
    font-size: 1.125rem;
    font-weight: 900;
}

.full-cart .quantity-price span {
    white-space: nowrap;
}

.full-cart .item-remove {
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    text-align: right;
}

.full-cart .item-remove .item-link-remove {
    padding: 0;
}

.full-cart .item-remove .item-link-remove::before {
    content: "Sterge";
    font-size: .75rem;
    color: #777;
    margin-right: .25rem;
    position: absolute;
    left: -2.25rem;
}

.full-cart .item-remove .item-remove-ico::before {
    content: url('https://pentruanimale.vtexassets.com/arquivos/trash-alt.svg');
}

/* End Products */

/* ============================================================= End Cart Page / Start Email Page ============================================================ */

.row-fluid .orderform-template {
    min-height: 32rem;
}

.client-pre-email {
    border-top: none;
}

.client-pre-email .emailInfo,
.pre-email {
    max-width: 54rem;
    margin: 0 auto;
    background-color: #f8f8f8;
    border-radius: .625rem;
    width: unset;
    border: none;
}

.pre-email {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.client-pre-email .pre-email h3 {
    margin-bottom: 2.375rem;
}

.client-pre-email .pre-email h3 span {
    display: block;
    font-size: 2rem;
    font-weight: 900;
    line-height: 2.5rem;
    margin-bottom: .5rem;
}

.client-pre-email .pre-email h3 small {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.375rem;
    color: #f95a02;
}

.client-pre-email .client-email {
    display: flex;
    max-width: 40rem;
    width: unset;
    float: unset;
    margin: auto;
    margin-bottom: 1.5rem;
}

.client-pre-email input {
    height: 3.125rem;
    border-radius: 1.5rem;
    border: 1px solid #aaa;
    font-size: 1rem;
    padding-left: 1.375rem;
    background-color: transparent;
}

#btn-client-pre-email {
    min-width: 8rem;
    margin-left: .675rem;
    position: static;
}

.client-pre-email span.error {
    position: absolute;
    left: 1rem;
    bottom: -1.5rem;
}

.client-pre-email .emailInfo {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding-bottom: 4rem;
}

.client-pre-email .emailInfo .icon-lock {
    bottom: 2.25rem;
    right: 1rem;
}

.client-pre-email .emailInfo h3 {
    max-width: 40rem;
    margin: 4.5rem auto 1rem auto;
    font-size: 1rem;
    color: #000;
    font-weight: bold;
}

.client-pre-email .emailInfo ul.unstyled span {
    font-size: .875rem;
    color: #777;
    line-height: 1.375rem;
}

.client-pre-email .emailInfo .icon-ok {
    color: #f95a02;
    margin-right: .5rem;
}


/* ============================================================= End Email Page / Start Profile step ============================================================ */

.orderform-template-holder > .row-fluid {
    display: flex;
    flex-direction: column;
}

.orderform-template-holder > .row-fluid > * {
    width: 100%;
    margin: 0;
    padding: 0;
}

/* ============================================================= End Profile step / Start Shipping step ============================================================ */



/* ============================================================= End Shipping step / Start Payment step ============================================================ */



/* ============================================================= End Payment step / Start Media queries ============================================================ */

@media screen and (min-width: 720px) {
        
    .client-pre-email .emailInfo .icon-lock {
        position: relative;
        float: right;
        right: calc((100% - 40rem)/2);
        top: -4rem;
    }
        
    .client-pre-email .emailInfo ul.unstyled {
        margin-left: calc((100% - 40rem)/2);
    }
    
    .client-pre-email .emailInfo {
        padding-bottom: 1rem;
    }
}

@media screen and (min-width: 1025px) {

    .full-cart .full-cart .summary-template-holder {
        margin-bottom: 8.75rem;
    }

    .full-cart .full-cart .summary-template-holder .summary {
        flex-direction: column;
    }

    .full-cart .summary-totalizers {
        position: relative;
    }
    
    .full-cart .summary-totalizers .summary-coupon-wrap {
        position: absolute;
        bottom: -12.25rem;
        left: -2rem;
        background-color: #fff;
        width: calc(100% + 4rem);
        padding: 0;
    }

    .summary-coupon-wrap.expanded {
        bottom: -16.25rem !important;
    }
}

@media screen and (min-width: 90rem) {
    .container {
        width: 90rem;
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

@media screen and (max-width: 1024px) {

    /* Generale */

    .footer-left {
        padding-right: unset;
    }

    .footer-payment-methods img {
        margin-bottom: .5rem;
    }

    .footer-left-right img:first-of-type {
        margin-bottom: .25rem;
    }

    /* Cart Page */

    
    .body-cart .full-cart {
        flex-wrap: wrap;
    }

    .full-cart {
        flex-direction: column;
    }

    .deals-container,
    .full-cart .summary-template-holder,
    .cart-template-holder {
        width: 100%;
    }
    
    .full-cart .summary-template-holder {
        margin-bottom: 2rem;
        margin-left: 0;
    }
    
    .full-cart .summary-template-holder .summary {
        flex-wrap: wrap;
    }

    .full-cart .summary-totalizers .summary-coupon-wrap .summary-coupon {
        border-color: #aaa;
        margin-bottom: 2rem !important;
    }
    
    .full-cart .summary-coupon-wrap .link-coupon-add::after {
        right: 4%;
    }

    #cart-coupon {
        background: transparent;
    }
    
    .full-cart .product-image {
        padding: 1rem !important;
    }
    
    .full-cart .quantity-price, .full-cart .product-name {
        padding-top: 1rem !important;
    }
    
    .full-cart .shipping-date {
        left: 9rem;
        top: 4.375rem;
    }
    
    .full-cart .product-price {
        left: 9rem;
        top: 2.75rem;
    }
    
    .full-cart .quantity {
        position: absolute;
        right: 1rem;
        top: 1rem;
        text-align: right;
    }
    
    .full-cart .item-quantity-change {
        position: static;
    }
    
    .full-cart .quantity input {
        display: inline-block;
    }
    
    .full-cart .quantity-price {
        padding-right: 1rem !important;
    }
    
    .full-cart .item-remove {
        right: 1rem;
    }

    /* End Cart Page */
}

@media screen and (max-width: 640px) {

    /* Generale */

    footer {
        height: unset;
    }

    footer .container {
        flex-direction: column;
        width: 100%;
    }
    
    .footer-left,
    .footer-right {
        width: 100%;
        padding: 1rem;
    }
    
    .footer-left {
        order: 2;
        flex-direction: column;
    }

    .footer-left-left {
        order: 2;
    }

    .footer-left-right {
        margin-left: unset;
        margin-bottom: 1rem;
    }

    .footer-right {
        text-align: center;
    }

    /* Cart Page */

    .deals-container {
        flex-direction: column;
    }
    
    .deal-item:not(:last-of-type) {
        margin-bottom: 1rem;
    }

    .full-cart .summary-totalizers .summary-coupon-wrap .summary-coupon {
        padding: .75rem .5rem;
    }
    
    .full-cart .summary-coupon-wrap .link-coupon-add::after {
        top: .75rem;
    }

    .full-cart .summary-template-holder .summary {
        padding: 1rem;
    }

    .free-shipping-bar {
        padding-right: 1rem;
    }

    /* End Cart Page*/

    /* Email Page*/

    .client-pre-email .client-email {
        max-width: 94%;
        flex-direction: column;
    }

    #btn-client-pre-email {
        margin-left: unset;
        order: 3;
        width: 100%;
    }

    .client-pre-email span.error {
        position: static;
    }
}

@media screen and (max-width: 490px) {

    .full-cart .cart table tbody tr.product-item {
        min-height: 6.5rem;
        border-top: none;
        margin-top: none;
    }

    .full-cart .product-image {
        padding: 0 !important;
    }
    
    .full-cart .product-image img {
        width: 4rem;
        height: 4rem;
    }

    .full-cart .product-name {
        margin-left: 4.5rem !important;
    }

    .full-cart .product-name a:first-of-type {
        padding-right: 0 !important;
    }

    .full-cart .product-price {
        left: 4.5rem;
        top: 2.5rem;
    }

    .full-cart .cart table tbody tr td.quantity {
        padding: 0 !important;
        width: unset;
        margin: 0;
        top: 2.5rem;
        right: 0;
    }

    .full-cart .cart table tbody tr td.item-remove {
        bottom: 0;
        top: unset;
    }
}

@media screen and (max-width: 375px) {

    /* Generale */

    #logo {
        margin-right: 1rem;
    }
}